# Multiple Linear regression using sklearn

In [1]:
import pandas as pd
import numpy as np

In [12]:
dataset = pd.read_csv ('start_ups.csv')
dataset.head ()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

* Profit is Dependent varaible 
* And all other are independent varaible
* we have 1 label and 1 feature. therefore, multiple linear regression can be use d

In [27]:
x = dataset.iloc [:, :-1]   # x is all independent varaible 
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [17]:
y = dataset.iloc [:, 4]
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [18]:
dataset.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

* we can see that we have one categorical data 
* therefore, we have to convert it into the int or float 
* as there 3 repeating states, we will generate the dummy value for it, to identify which state is refferred

In [28]:
states = pd.get_dummies (x['State'], drop_first= True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

* now drop the catogerical/object type data form the x

In [29]:
x = x.drop ('State', axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

* now join the states data with x

In [30]:
x = pd.concat ([x, states], axis = 1)
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

* now our dataset is ready apply multiple linear regression
* ***using the train and tets method***

In [33]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size = 0.2, random_state = 0)

* Fitting Multiple Linear Regression model to the training set

In [37]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)
y_predicted = regressor.predict(x_test)
y_predicted   # predicted values of y

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [41]:
from sklearn.metrics import r2_score
score = r2_score (y_test, y_predicted)
score    # its very near to 1, therefor nice model

0.9347068473282423

# Thank You !!