**NAME :** ***SHAH SIDDH TEJASKUMAR***

**Reg.NO :** ***20BCE1937***

# Welcome to NUMPY

In [1]:
import numpy as np    # importing the numpy module
myarr = np.array([3, 4, 2, 45])
print (myarr.dtype)
print (myarr)

int32
[ 3  4  2 45]

*we can mention the size of the np array and save the memory and that's why ***NUMPY***.*

In [2]:
arr1 = np.array([3, 4, 2, 45], np.int8)  
print (arr1)
print (arr1.dtype)

[ 3  4  2 45]
int8

In [3]:
myarr.dtype = np.int16  # changing the dtype varaible of the my arr
print (myarr.dtype)

int16

In [4]:
i = 42

In [5]:
print (i)

42

In [6]:
myarr.shape # gives one answer eg. (4,)

(8,)

In [7]:
arr2 = [1, 2 ,4]    # we can also have normal arrays (list, tuples ...)
print (len(arr2))

3

***we can create the numpy array using any python store (list, tuples, sets ..)***

In [8]:
tDarr = np.array(((1,2,3), (4,5,6), (7,8,9)))
print (tDarr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [9]:
type(tDarr)

numpy.ndarray

In [10]:
tDarr.shape   # returns the dimensions of the array

(3, 3)

In [11]:
type (arr1)

numpy.ndarray

In [12]:
type (arr2)

list

**------>** ***numpy ways to create array***

In [13]:
zarr = np.zeros((3, 4))   # creates the matrix of 3X4 .. with value 0

In [14]:
zarr
print (zarr.dtype)
print (zarr.shape)

float64
(3, 4)

*arange same as range in python*

In [15]:
arr = np.arange (10)  # prints the value from 0 ->> (n-1) (0-9)

In [16]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
ran = np.arange (1, 9)  # array of (1 -> 9)
print (ran)

[1 2 3 4 5 6 7 8]

In [18]:
ran.shape

(8,)

In [19]:
ran = ran.reshape(4, 2)   # reshaping the array (.reshape(valueX, valueY))
ran

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

---> **np.linespace (*start, end, spacing*)** *to create the array with perfect gap .. with given start and end*

In [20]:
lspace  = np.linspace (1, 10, 20)
lspace

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])

In [21]:
lspace
print (lspace.dtype)
print (lspace.shape)

float64
(20,)

---> **np.empty(axisX, axisY, ..)** *it creates the array with some dummy values*

In [22]:
emp = np.empty ((4, 5))

In [23]:
emp

array([[ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684],
       [ 3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789],
       [ 5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895],
       [ 8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ]])

In [24]:
type (emp)

numpy.ndarray

In [25]:
emp.dtype

dtype('float64')

---> **np.empty_like(array)** *creates the empty array like **array** and has its ***shape*** which values can be replaced later*

In [26]:
empl = np.empty_like(ran)  # will take the shape of ran array 
print (ran)
print (empl.shape)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
(4, 2)

---> **np.identity(value)** *-> creates the identity matrix of order value*

In [27]:
ide = np.identity(6)
ide

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [28]:
ide = ide.ravel()
print (ide)
print (ide.shape)

[1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1.]
(36,)

In [29]:
pract = np.arange(0, 9)
pract = pract.reshape (3, 3)
pract

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

*--->   axis = 0, y-axis summation in every colomn .... axis = 1, x-axis summation in every row*

In [30]:
pract.sum (axis = 0)

array([ 9, 12, 15])

In [31]:
pract.sum (axis = 1)

array([ 3, 12, 21])

**---> transpose** *of a matrix*

In [32]:
pract.T

array([[0, 3, 6],
       [1, 4, 7],
       [2, 5, 8]])

In [33]:
pract.flat

In [34]:
for item in pract:      # itreating example 
    print (item)

[0 1 2]
[3 4 5]
[6 7 8]

In [35]:
pract.ndim   # states the dimensions of array

2

***---> functions in numpy***

In [36]:
pract = pract.T
pract[0, 0] = 12
pract[2, 2] = 2
pract

array([[12,  3,  6],
       [ 1,  4,  7],
       [ 2,  5,  2]])

In [37]:
pract.argmin()       # returns the index of minimum value

3

In [38]:
pract.argmax()        # returns the index of maximum value

0

In [39]:
pract.argmin(axis = 0)      # returns the index of the minimum value in y axis of eaxh row

array([1, 0, 2], dtype=int64)

In [40]:
pract.argmax(axis = 0)      # returns the index of the maximum value in y axis of eaxh row

array([0, 2, 1], dtype=int64)

In [41]:
temp = np.arange (9) # returns the index array 
temp[0] = 9 
temp[5] = 7
temp[8] = 4
temp

array([9, 1, 2, 3, 4, 7, 6, 7, 4])

In [42]:
print (temp)
print (temp.argsort())    # returns the index array of sorted aray

[9 1 2 3 4 7 6 7 4]
[1 2 3 4 8 6 5 7 0]

In [43]:
ar1 = np.arange(9).reshape (3, 3)
ar2 = ar1.T

In [44]:
ar1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [45]:
ar2

array([[0, 3, 6],
       [1, 4, 7],
       [2, 5, 8]])

In [46]:
print (ar1 + ar2)        # adddition of matrix

[[ 0  4  8]
 [ 4  8 12]
 [ 8 12 16]]

In [47]:
print (ar1 * ar2)     # element to element multiplication

[[ 0  3 12]
 [ 3 16 35]
 [12 35 64]]

In [48]:
np.sqrt (ar1)       # returns the square-root of array

array([[0.        , 1.        , 1.41421356],
       [1.73205081, 2.        , 2.23606798],
       [2.44948974, 2.64575131, 2.82842712]])

In [49]:
ar1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [50]:
ar1.sum()        # returns sum of all elements

36

In [51]:
ar1.max()    # returns the minimum element in array

8

In [52]:
ar1.min()     # returns the maximum element in array

0

In [53]:
 np.where (ar2 > 5)

(array([0, 1, 2], dtype=int64), array([2, 2, 2], dtype=int64))

In [54]:
ar2

array([[0, 3, 6],
       [1, 4, 7],
       [2, 5, 8]])

In [55]:
 np.where (ar2 > 5) # it gives the values in tuples .. 1st tuple have x-index and 2nd has y-index (in case: (0, 2), (1, 2), (2, 2))

(array([0, 1, 2], dtype=int64), array([2, 2, 2], dtype=int64))

In [56]:
np.where (ar1 > 4)

(array([1, 2, 2, 2], dtype=int64), array([2, 0, 1, 2], dtype=int64))

In [57]:
np.count_nonzero (ar1)   # returns the no. of non zero elements in arr

8

In [58]:
np.nonzero (ar2)     # return the non-zero elements index in 2 tuples

(array([0, 0, 1, 1, 1, 2, 2, 2], dtype=int64),
 array([1, 2, 0, 1, 2, 0, 1, 2], dtype=int64))

In [59]:
import sys

In [60]:
py_arr = [1, 2, 3, 4]
np_arr = np.array (py_arr)

In [61]:
sys.getsizeof(1) * len (py_arr)

112

In [62]:
np_arr.itemsize * np_arr.size    # size of one item (itemsize attribute) * size of array (4)

16

***NOTE the difference of size .. numpy array takes less space then simple python arrays.***

# THANK YOU